mixin addBBBheader-600(campaignLink)
	+newRow
		// table right above should have width="600" added
		td(align="left", valign="bottom")
			p(style="font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#273691;")
				if block
					block
		td(align="right", valign="bottom")
			p(style="font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#273691;")
				+a('http://view.ed4.net/v/_ECLIENTID__/_ECELLID__/_EOLISTID__/_EOCID__/MAILACTION=_MAILACTION__&FORMAT=H?' + campaignLink)(style="color:#273691;") View as web page
	+newRow
		td(width="600", height="19", valign="top")
			img(src="imgs/spacer.gif", width="600", height="19", alt="")
	+newRow
		td(width="170", height="55", valign="top")
			+a('http://www.bedbathandbeyond.com/store/?' + campaignLink)
				img(src="imgs/logo.gif", width="170", height="55", alt="Bed Bath &amp; Beyond(R)" )
		td(valign="bottom")
				+rowPartial
					td(width="161", height="20", valign="top")
						img(src="imgs/spacer.gif", width="161", height="20", alt="" )
					td(width="110", height="20", valign="top")
						+a('http://www.bedbathandbeyond.com/store/page/College?' + campaignLink)
							img(src="imgs/pre-nav1.gif", width="110", height="20", alt="Shop for College")
					td(width="159", height="20", valign="top" )
						+a('http://www.bedbathandbeyond.com/store/page/Registry?' + campaignLink)
							img(src="imgs/pre-nav2.gif", width="159", height="20", alt="Wedding &amp; Gift Registry")
	+newRow
		td(width="600", height="11", valign="top")
			img(src="imgs/spacer.gif", width="600", height="11", alt="")
	+newRow
		td(width="51", height="28", valign="top")
			+a('http://www.bedbathandbeyond.com/store/category/bed-bath/10001/?' + campaignLink)
				img(src="imgs/nav1.gif", width="51", height="28", alt="BED &amp; BATH")
		td(width="56", height="28", valign="top")
			+a('http://www.bedbathandbeyond.com/store/category/kitchen-small-appliances/10002/?' + campaignLink)
				img(src="imgs/nav2.gif", width="56", height="28", alt="KITCHEN")
		td(width="53", height="28", valign="top")
			+a('http://www.bedbathandbeyond.com/store/category/dining-entertaining/10003/?' + campaignLink)
				img(src="imgs/nav3.gif", width="53", height="28", alt="DINING")
		td(width="79", height="28", valign="top")
			+a('http://www.bedbathandbeyond.com/store/category/home-decor-window/10004/?' + campaignLink)
				img(src="imgs/nav4.gif", width="79", height="28", alt="HOME DECOR")
		td(width="72", height="28", valign="top")
			+a('http://www.bedbathandbeyond.com/store/category/storage-cleaning/10005/?' + campaignLink)
				img(src="imgs/nav5.gif", width="72", height="28", alt="STORAGE &amp; CLEANING")
		td(width="51", height="28", valign="top")
			+a('http://www.bedbathandbeyond.com/store/category/baby-kids/10006/?' + campaignLink)
				img(src="imgs/nav6.gif", width="51", height="28", alt="BABY &amp; KIDS")
		td(width="68", height="28", valign="top")
			+a('http://www.bedbathandbeyond.com/store/category/seasonal/10018/?' + campaignLink)
				img(src="imgs/nav7.gif", width="68", height="28", alt="SEASONAL")
		td(width="79", height="28", valign="top")
			+a('http://www.bedbathandbeyond.com/store/category/whats-new/10008/?' + campaignLink)
				img(src="imgs/nav8.gif", width="79", height="28", alt="WHAT'S NEW")
		td(width="91", height="28", valign="top")
			+a('http://www.bedbathandbeyond.com/store/category/clearance/10009/?' + campaignLink)
				img(src="imgs/nav9.gif", width="91", height="28", alt="CLEARANCE")