- var rows = imgsList.rows;

- function getRowWidths(rows) {
	- return rows.map(function(row) {
		- return row.reduce(function(prevVal, currVal) {
			- return prevVal + parseInt(currVal.width, 10);        
		- }, 0);
	- });
- }

- var rowWidths = getRowWidths(rows);

- var maxWidth = Math.max.apply(Math, getRowWidths(rows));