extends templates/basic.jade
//- include mixins/bbb.jade

//- block title
	title Tassimo(TM)
//- block content
	//- add the campaign monitoring link suffix as the argument in the addBBBheader-600 function (don't include the question mark)
	//- only leave this function in if you're doing a 600 wide BBB email, otherwise delete or comment it out.
	//- +addBBBheader-600('')
		| 20% off ENTIRE in-store purchase. 
		+a('eDialog to add link. Add: ?')(style="color:#273691;") Redeem now!
	+build