//- include mixins/bbb.jade

//- block title
	title Tassimo(TM)
//- block content
	//- add the campaign monitoring link suffix as the argument in the addBBBheader-600 function (don't include the question mark)
	//- only leave this function in if you're doing a 600 wide BBB email, otherwise delete or comment it out.
	//- +addBBBheader-600('')
		| 20% off ENTIRE in-store purchase. 
		+a('eDialog to add link. Add: ?')(style="color:#273691;") Redeem now!
	+build

include mixins/buildEmail

doctype strict
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=iso-8859-1")
		style(type="text/css").
			body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}	
			a img {border:none;}
			img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border:0;}
			p {margin:0;}
			table td {border-collapse: collapse;}

			.ExternalClass {width:100%;}
			.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
			#outlook a {padding:0;}
	body
		+table(style="margin:0; padding:0; width:100% !important; line-height: 100% !important; position:absolute;", align="center")
			+tr(align="center")
				td
					+table(align="center", width= width)
						+build