extends templates/master.jade

block body
	h1: pre.
		   _____            __           ___________                  __  __            ________  
		  /  _  \   __ __ _/  |_   ____  \_   _____/  _____  _____   |__||  |    ___  __\_____  \ 
		 /  /_\  \ |  |  \\   __\ /  _ \  |    __)_  /     \ \__  \  |  ||  |    \  \/ /  _(__  < 
		/    |    \|  |  / |  |  (  <_> ) |        \|  | |  \ / __ \_|  ||  |__   \   /  /       \
		\____|__  /|____/  |__|   \____/ /_______  /|__|_|  /(____  /|__||____/    \_/  /______  /
		        \/                               \/       \/      \/                           \/ 
	h2 Keywords in slice names
	dl
		dt spacer
		dd Dont' use this. Photoshop uses 'spacer' in some of the automaticly generated slices.
		dt replace
		dd Replaces the slice with a 1x1 transparent gif stretched to fill the appropriate area.
	form
		label
			p Choose an email template
			select
				option None
				option Bed Bath
		label
			p Select an excel ASF file
			input(id='getASF', type='file')
		label
			p Select folder of PS data
			input(id='getPSDData', type='file', webkitdirectory)
		label
			p Optional: Set expected email width
			input(id='getEmailWidth', type='number', min='0')
		input(id='makeEmail', type='button', value='Make me an email')

	script.
		process.on('uncaughtException', function(e) {});
